/* @mixin 混合宏 */

@mixin border-radius($radius-x, $radius-y : null) {
  @if $radius-y {
    border-radius: $radius-x + px / $radius-y + px;
    -webkit-border-radius: $radius-x + px / $radius-y + px;
  }
  @else{
    border-radius: $radius-x + px;
    -webkit-border-radius: $radius-x + px;
  }

}

@mixin transform($trans,$param){
  transform: $trans + '(' + $param + ')';
  -webkit-transform: $trans + '(' + $param + ')';
}


@function count($x){
  @return 100% - $x;
}