$marb-12: 0.12rem;
$c-1: #111;
$c-3: #333;
$c-6: #666;
$c-9: #999;
$c-f: #fff;
$c-e: #eee;
$c-b: #bbb;
$c-d3: #d3d3d3;
$c-e5: #e5e5e5;
$c-f8: #f8f8f8;
$c-ab: #ababab;
$c-de: #dedede;
$c1: #ffad33;
$c2: #fd6e4b;
$c3: #33a7e9;
$c4: #6781d5;
$c5: #e54b52;
$fs1: 0.12rem;
$fs2: 0.24rem;
$fs3: 0.36rem;
$fs4: 0.48rem;
$imgUrl: "../../img/";